// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.commentDefaultStyle {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 4px;
  .info {
    margin-bottom: 2px;
    font-size: 9pt;
  }
  .main {
    font-size: 10pt;
  }
  .tape {
    font-size: 9pt;
  }
  .postedTime {
    font-size: 9pt;
  }
  .author {
    font-size: 10pt;
  }
  .text {
    font-size: 10pt;
  }
}

.commentListLineStyle {
  background: #6f92c0;
  padding: 10px;
  width: 300px;
}
.commentLineStyle {
  .inner {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    color: #000;
    display: inline-block;
    font-size: 13pt;
    margin-bottom: 4px;
    padding: 10px;

    .info {
      display: none;
      margin-bottom: 2px;
      font-size: 9pt;
    }
    .main {
    }
    .tape {
      font-size: 9pt;
    }
    .postedTime {
      font-size: 9pt;
    }
    .author {
      font-size: 10pt;
    }
    .text {
      font-size: 10pt;
    }
  }
  .right {
    background: #85e249 none repeat scroll 0 0;
    display: table;
    margin-left: auto;
  }
}

.commentListTwitterStyle {
  background-color: #f5f8fa;
  padding: 10px;
}
.commentTwitterStyle {
  .inner {
    background-color: #fff;
    border-bottom: 1px solid #e1e8ed;
    font-size: 13pt;
    padding: 10px;

    .info {
      color: #8899a6;
      font-size: 13px;
      margin-bottom: 2px;
      .info-child {
        margin-right: 10px;
      }
    }
    .main {
      font-size: 14px;
      line-height: 18px;
    }
    .tape {
    }
    .postedTime {
    }
    .author {
      color: #292f33;
      font-weight: bold;
    }
    .text {
    }
  }
}

.commentListLifeLineStyle {
  background-color: #f5f8fa;
  padding: 10px;
}
.commentLifeLineStyle {
  .inner {
    background-color: #111;
    border-bottom: 1px solid #01080d;
    font-size: 13pt;
    padding: 10px;

    .info {
      color: #8899a6;
      font-size: 13px;
      margin-bottom: 2px;
      .info-child {
        margin-right: 10px;
      }
    }
    .main {
      font-size: 14px;
      line-height: 18px;
    }
    .tape {
    }
    .postedTime {
    }
    .author {
    }
    .text {
      color: white;
    }
    .base {
      color: green;
    }
  }
}


