// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.commentDefaultStyle {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 4px;
  .info {
    margin-bottom: 2px;
    font-size: 9pt;
  }
  .main {
    font-size: 10pt;
  }
  .tape {
    font-size: 9pt;
  }
  .postedTime {
    font-size: 9pt;
  }
  .author {
    font-size: 10pt;
  }
  .text {
    font-size: 10pt;
  }
}

.commentListLineStyle {
  background: #6f92c0;
  padding: 10px;
}
.commentLineStyle {
  .inner {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    color: #000;
    display: inline-block;
    font-size: 13pt;
    margin-bottom: 4px;
    padding: 10px;

    .info {
      margin-bottom: 2px;
      font-size: 9pt;
    }
    .main {
    }
    .tape {
      font-size: 9pt;
    }
    .postedTime {
      font-size: 9pt;
    }
    .author {
      font-size: 10pt;
    }
    .text {
      font-size: 10pt;
    }
  }
  .right {
    background: #85e249 none repeat scroll 0 0;
    margin-left: 100px;
  }
}


